<%= flash[:alert] %>
<<<<<<< HEAD
<h4><a href="/foods/posts">UDM?IDU! 글</a> || <a href="/f/hoogi">후기</a> | <a href="/f/qna">Q&A</a> | <a href="/f/gong">공지사항</a> || <a href="/foods/write">글쓰기</a></h4>
=======
<h4><a href="/foods/posts">UDM?IDU! 구매 후기</a> || <a href="/foods/hoogi">후기</a> | <a href="/foods/qna">Q&A</a> | <a href="/foods/notice">공지사항</a> || <a href="/foods/write">글쓰기</a></h4>
>>>>>>> 435287e8d3db3ae8d74ba121aab70fc2a31a267e


<div>
  <h2>여러분의 구매 후기와 Q&A, 공지사항 게시판입니다.</h2>
 
</div>

<hr>

<% @posts.reverse.each do |post| %>
<div style="border: 1px solid #ffffff">
  <h4><a href="/foods/show/<%= post.id %>"><%= post.title %></a>[<%= post.comments.count %>]</h4>
  <p style="color: #ff0000"><%= post.category %></p>
 <p><strong><%= post.user.username %></strong></p>

</div>
<% end %>
