<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>UDM?IDU!</title>
<style> 
  ul{ height:30px; background:#6495ED; list-style:none; padding-top:15px}
  ul li{float:left; padding-left: 20px; margin-right:70px}
  ul li a{font-size:21px; text-align: center;  color:white; font-weight:bold; text-decoration:none}
.menuLink a{color:#fff}</style> <!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
  <div id="banner">
   <a href="http://localhost:3000"><%= image_tag("http://postfiles11.naver.net/20150518_218/knnk6807_1431956450490ATkKf_JPEG/pic1.jpg?type=w3", align: "middle", size:"260x110") %>
  </a></div>
  <div id="banner2">  
    <%= @page_title || "U Drink ME? I Drink U!" %> 
  </div>
<!-- END_HIGHLIGHT -->  
  <div id="columns">
    <div id="topMenu">
      <ul>
        <li><a class="menuLInk" href="http://localhost:3000">Home</a></li>
        <li><a class="menuLInk" href="http://localhost:3000">SHOP</a></li>
        <li><a class="menuLInk" href="http://localhost:3000">Q&A</a></li>
        <li><a class="menuLInk" href="http://localhost:3000">알림판</a></li>
        <li><a class="menuLInk" href="http://localhost:3000">고객센터</a></li></ul>
    </div> <br>
   <div id="side">
     <!-- START_HIGHLIGHT -->
       <!-- START:hidden_div -->
      <%if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
      <% end %>
      <% end %>
       <!-- END:hidden_div -->
     <!-- END_HIGHLIGHT -->      
     </div>
         <div id="main">
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
 </div> 
<!-- END_HIGHLIGHT -->
</body>
</html>

